<h1>Sign Up Page</h1>
<form [formGroup]="registerationForm">
  <p *ngIf="serverMessage != ''">This email is already taken</p>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="registerationForm.get('firstName')?.invalid && registerationForm.get('firstName')?.touched">*This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="registerationForm.get('lastName')?.invalid && registerationForm.get('lastName')?.touched">*This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="registerationForm.get('email')?.invalid && registerationForm.get('email')?.touched && registerationForm.get('email')?.errors!['required']" >*This field is required</mat-error>
    <mat-error *ngIf="(registerationForm.get('email')?.invalid && registerationForm.get('email')?.touched && (registerationForm.get('email')?.errors!['lulu']) && (!registerationForm.get('email')?.errors!['required']))" >*email is invalid</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="registerationForm.get('password')?.invalid && registerationForm.get('password')?.touched && registerationForm.get('password')?.errors!['required']" >*This field is required</mat-error>
    <mat-error *ngIf="(registerationForm.get('password')?.invalid && registerationForm.get('password')?.touched && (registerationForm.get('password')?.errors!['lulu']) && (!registerationForm.get('password')?.errors!['required']))" >*atleast 15 character OR atleast 8 character including a number and lowercase letter</mat-error>
    <mat-hint style="color:green; line-height: 1.3;">Make sure it's at least 15 character OR at least 8 character including a number and lowercase letter</mat-hint>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="registerationForm.invalid" (click)="signUpUser()">Submit</button>
</form>
