<div class="header">
    <h1>Lorry Details</h1>
</div>

<div class="navBar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lorry Details</li>
        </ol>
    </nav>
</div>

<mat-divider></mat-divider>

<mat-card class="mat-elevation-z8 table-card">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" style="margin: 15px;"
        (click)="createLorry()">
        <mat-icon>add</mat-icon>
    </button>

    <mat-form-field appearance="standard" class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Erode" #input>
    </mat-form-field>

    <div>
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="numberPlate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Plate </th>
                <td mat-cell *matCellDef="let row"> {{row.numberPlate}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let row"> {{row.type}} </td>
            </ng-container>

            <ng-container matColumnDef="modelNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Number </th>
                <td mat-cell *matCellDef="let row"> {{row.modelNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </th>
                <td mat-cell *matCellDef="let row"> {{row.manufacturer}} </td>
            </ng-container>

            <ng-container matColumnDef="driverName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name </th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.driverName == 'Not Assigned'; else elseBlock"
                        class="badge rounded-pill text-bg-warning">{{row.driverName}}</span>
                    <ng-template #elseBlock>{{row.driverName}}</ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="updateLorry(row)">
                            <mat-icon>edit</mat-icon>
                            <span>edit location</span>
                        </button>
                        <button mat-menu-item (click)="deleteLorry()">
                            <mat-icon>delete</mat-icon>
                            <span>delete location</span>
                        </button>
                        <button mat-menu-item>
                            <span *ngIf="row.driverName == 'Not Assigned'; else elseBlock">
                                <mat-icon>assignment_ind</mat-icon>
                                Assign Driver
                            </span>
                            <ng-template #elseBlock>
                                <mat-icon>assignment_ind</mat-icon>
                                <span>Unassign Driver</span>
                            </ng-template>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
</mat-card>