<div class="header">
    <h1>Location Details</h1>
</div>

<div class="navBar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Location</li>
        </ol>
    </nav>
</div>

<mat-divider></mat-divider>

<mat-card class="mat-elevation-z8 table-card">
    
    <h2>Location</h2>
    <div class="subHeader">
        <p>{{sizeOfLocation}} Registered Locations</p>
    </div>

    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" style="margin: 15px;"
        (click)="createLocation()">
        <mat-icon>add</mat-icon>
    </button>

    <mat-form-field appearance="standard" class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Erode" #input>
    </mat-form-field>

    <div>
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="distributorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Distributor Name </th>
                <td mat-cell *matCellDef="let row"> {{row.distributorName}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                <td mat-cell *matCellDef="let row"> {{row.city}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                <td mat-cell *matCellDef="let row"> {{row.state}} </td>
            </ng-container>

            <ng-container matColumnDef="kmAllocated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Km Allocated </th>
                <td mat-cell *matCellDef="let row"> {{row.kmAllocated}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="updateLocation(row)">
                            <mat-icon>edit</mat-icon>
                            <span>edit location</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>delete location</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
</mat-card>