/* Header */
.header {
  margin: 20px;
  color: var(--dark-mode-white);
}

.header h1 {
  font-weight: 500;
  font-size: x-large;
}

/* breadcrumb */
.navBar {
  padding-left: 20px;
  padding-right: 20px;
}

.breadcrumb {
  background-color: #1a1a22;
}

.breadcrumb-item .active {
  color: var(--dark-mode-grey);
}
