.spacer {
  flex: 1 1 auto;
}

.title {
  cursor: pointer;
  font-size: 18px;
}

.welcome-text {
  font-size: smaller;
}

mat-toolbar {
  color: var(--dark-mode-white);
  background-color: var(--dark-mode-toolbar-header);
}

.menu {
  padding: 5px;
}
