.spacer {
    flex: 1 1 auto;
  }
  
  .title {
    cursor: pointer;
    font-size: 18px;
  }
  
  .welcome-text {
    font-size: smaller;
  }

mat-toolbar{
    color: rgba(255,255,255, 0.75);;
}

.menu {
  padding: 5px;
}