<mat-toolbar>
    <h2 mat-dialog-title>Driver Form</h2>
</mat-toolbar>
<br>
<form mat-dialog-content [formGroup]="driverForm">
    <mat-vertical-stepper linear>
        <mat-step [completed]="driverForm.controls['profile'].valid && driverForm.controls['address'].valid">
            <ng-template matStepLabel>Profile</ng-template>
            <app-profile></app-profile>
        </mat-step>
        <mat-step> [completed]="driverForm.controls['personalInformation'].valid">
            <ng-template matStepLabel>Personal Information</ng-template>
            <app-personal-information></app-personal-information>
        </mat-step>
        <mat-step> [completed]="driverForm.controls['familyInformations'].valid">
            <ng-template matStepLabel>Family Information</ng-template>
            <app-family></app-family>
        </mat-step>
        <mat-step> [completed]="driverForm.controls['emergencyContacts'].valid">
            <ng-template matStepLabel>Emergency Contact</ng-template>
            <app-emergency-contact></app-emergency-contact>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>Please free to edit the form!</p>
            <div>
                <button mat-raised-button type="button" (click)="submit()" color="primary">Submit Data</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</form>
<mat-dialog-actions>
    <button mat-raised-button  [mat-dialog-close]="false" style="position: relative; left:680px">Close</button>
</mat-dialog-actions>