.mat-expansion-panel {
  box-shadow: none;
  background: transparent;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  align-items: center;
}

.mat-list-icon {
  padding: 4px;
}

.mat-list-item {
  cursor: pointer;
  border-left: 4px solid transparent;
  transition: 0.2s all;
}

.mat-list-item:hover {
  padding: 0.5px;
  background: #282931;
}

.mat-list-base {
  padding-top: 0;
}

.mat-list-base .mat-list-item {
  height: 50px;
}

.list-item {
  padding-left: 16px;
  color: #abb2b9;
  font-weight: 500;
  font-size: medium;
}

.mat-icon {
  color: var(--dark-mode-grey);
  display: inline-block;
  transform: scale(0.8);
}

.mat-line {
  white-space: normal !important;
  color: var(--dark-mode-grey);
}

.active .mat-line {
  color: var(--dark-mode-white);
}

.active {
  background: #282931 !important;
}

.active .mat-icon {
  color: var(--dark-mode-white);
  display: inline-block;
  transform: scale(0.8);
}
